/* Estilos para mostrar y ocultar elementos mientrar sea necesario */

.info__excluir {
    display: none;
}

.activo {
    display: block;
    margin-bottom: 10px;
}

.informacion .inactivo {
    display: none;
}

.informacion .activos {
    display: inline-block;
}

/* Importando fuents y creando variables */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --clr-main: #233B4A;
    --clr-white: #FFFFFF;
    --clr-bg: #F6FAFD;
    --fnt-h: 'Lato', sans-serif;
    --fnt-p: 'Open Sans', sans-serif;
    --weight-p: 500;
    --weight-h: 600;
}

/* Reseteando y creando los estilos basicos del documento */

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--fnt-p);
    font-weight: var(--weight-p);
    text-align: center;
    background: #FAF2DE;
    color: var(--clr-main);
    position: relative;
}

/* Estilos para los titulos de diferentes divisiones */

.section__title {
    background: var(--clr-main);
    color: white;
    border-radius: 15px 15px 0 0;
    height: 3ch;
    line-height: 3ch;
}

a {
    text-decoration: none;
}

/* Estilos para el titulo */

.title {
    background: var(--clr-main);
    color: white;
    min-height: 4ch;
    line-height: 4ch;
    margin-bottom: 2rem;
}

/* Estilos para el primer div (informacion del curso) */

.info {
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

label {
    font-size: 1.4rem;
}

/* Estilos para los inputs */

.info input:not([type='checkbox']):not([type='text']) {
    width: 15rem;
    display: block;
    margin: auto;
}

.info input:not([type='checkbox']):enabled {
    outline: none;
    background: white;
    width: 15rem;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
}

.info input:not([type='checkbox']):focus {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.info__excluir_dias {
    width: 8rem;
    margin: auto;
    line-height: 1;
    margin-top: 10px;
}

/* Estilos para el segundo div (Selección de dias) */

.select {
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    text-align: left;
    margin-bottom: 2rem;
}

.select h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.wraper input:checked {
    background: var(--clr-main);
}

.select label {
    width: 45%;
    margin-bottom: 1.3rem;
}

.select input:not([type='checkbox']) {
    width: 30%;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.select input:not([type='checkbox']):disabled {
    background: #E9ECEF;
}

.select input:not([type='checkbox']):enabled {
    outline: none;
    background: white;
    width: 30%;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
}

.select input:not([type='checkbox']):focus {
    box-shadow: 0px 0px 9px -2px #233B4A;
}

.select .select__check_wraper {
    padding-left: 5.5rem;
    width: 84%;
    margin: auto;
    line-height: 0.5;
}

.btn-wraper {
    margin: auto;
    width: 53%;
    padding-bottom: 20px;
    margin-top: 3px;
}

.btn-wraper .btn {
    all: unset;
    background: var(--clr-main);
    width: 100%;
    color: white;
    text-align: center;
    min-height: 4ch;
    font-weight: var(--weight-p);
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.center-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* Estilos para el tercer div (Fechas) */

.date {
    font-size: 1.4rem;
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.date h3 {
    margin: 0;
}

.fechas-titulo {
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    font-size: 1.5rem !important;
    color: var(--clr-main) !important;
}

#lista-mes {
    /* text-align: left; */
    text-indent: 1rem;
    font-size: 2rem;
}


.horas {
    background: var(--clr-main) !important;
}

.informacion__txt {
    background: white;
    width: 90%;
    margin: .5em auto;
    border: 1px solid;
}

.copiar-boton {
    all: unset;
    margin: 1em 0;
    background: var(--clr-main);
    width: 30%;
    color: white;
    min-height: 4ch;
    font-weight: var(--weight-p);
    border-radius: 3px;
    border: 1.3px solid rgba(0, 0, 0, 0.5);
}

.accordion {
    margin-bottom: 2rem;
    height: 30ch;
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

/* Estilos para pantallas mayores a 768 pixeles */

@media (min-width: 768px) {

    /* Dividiendo los diferentes divs para aprovechar mejor el espacio */

    .wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "info select"
            "date date";
    }

    /* Estilos para el primer div (Información del curso) */

    .info {
        grid-area: info;
        min-height: 93.1ch;
        margin-bottom: 0;
        margin-right: 1em;
    }

    .section__title {
        font-size: 2.3rem;
    }

    .info .form-label {
        font-size: 2rem;
    }

    .info .info__input {
        font-size: 1.5rem;
    }

    /* Estilos para el segundo div (Selección de días) */

    .select {
        margin-bottom: 0rem;
        margin-left: 1em;
    }

    .select h3 {
        margin-bottom: 15px;
    }

    .select label {
        width: 50%;
    }

    .select  .select__label {
        font-size: 2rem;
    }

    .select .info__input-value {
        font-size: 1.4rem;
    }

    .select .select__checkbox {
        font-size: 2rem;
    }

    .select .select__select_day {
        margin-bottom: .4em;
    }

    .select__select_day  .select__label {
        margin-top: .5em;
    }

    .select__select_day .select__dia {
        height: 2rem;
    }

    /* Estilos para los botones del segundo div*/

    .btn-wraper {
        width: 65%;
        font-size: 1.6rem;
    }

    .btn-wraper .btn {
        margin-bottom: .85em;
    }

    /* Estilos para el tercer div (Fechas) */

    .date {
        grid-area: date;
        width: 84%;
        min-height: 42rem;
        margin-top: 1em;
    }
}

/* Estilos para pantallas mayores a 1024px pixeles */

@media (min-width: 1024px) {

    body {
        margin-bottom: 3rem;
    }

    /* Haciendo que los divs se muestren en 3 con flex */

    .wraper {
        display: flex;
    }

    /* Estilos para el primer div (Información del curso) */

    .info {
        min-height: 80%;
        margin-left: 3em;
        margin-top: 0;
    }

    /* Estilos para el segundo div (Selección de días) */

    .select {
        min-height: 80%;
        margin-right: .8em;
        margin-top: 0;
    }

    .tab {
        margin-left: 1rem;
    }

    /* Estilos para el tercer div (Fechas) */

    .date {
        min-height: 80%;
        margin: 0 2.2em 0 .8em;
    }
}

.horas-mes {
    font-size: 2rem;
    color: var(--clr-main);
    background: #000;
}

/* Styles for super big screens */

@media (min-width: 1400px) {
    body {
        display: grid;
        place-content: center;
    }
}