/* Estilos para mostrar y ocultar elementos mientrar sea necesario */

.excluir {
    display: none;
}

.activo {
    display: block;
    margin-bottom: 10px;
}

.info .inactivo {
    display: none;
}

.info .activos {
    display: inline-block;
}

/* Importando fuents y creando variables */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --clr-main: #233B4A;
    --clr-white: #FFFFFF;
    --clr-bg: #F6FAFD;
    --fnt-h: 'Lato', sans-serif;
    --fnt-p: 'Open Sans', sans-serif;
    --weight-p: 500;
    --weight-h: 600;
}

/* Reseteando y creando los estilos basicos del documento */

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--fnt-p);
    font-weight: var(--weight-p);
    text-align: center;
    background: #FAF2DE;
    color: var(--clr-main);
    position: relative;
}

/* Estilos para los titulos de diferentes divisiones */

.part {
    background: var(--clr-main);
    color: white;
    border-radius: 15px 15px 0 0;
    height: 3ch;
    line-height: 3ch;
}

a {
    text-decoration: none;
}

/* Estilos para el titulo */

.title {
    background: var(--clr-main);
    color: white;
    min-height: 4ch;
    line-height: 4ch;
    margin-bottom: 2rem;
}

/* Estilos para el primer div (informacion del curso) */

.info-wraper {
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

label {
    font-size: 1.4rem;
}

/* Estilos para los inputs */

.info-wraper input:not([type='checkbox']):not([type='text']) {
    width: 150px;
    display: block;
    margin: auto;
}

.info-wraper input:not([type='checkbox']):enabled {
    outline: none;
    background: white;
    width: 150px;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
}

.info-wraper input:not([type='checkbox']):focus {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.excDiv {
    width: 80px;
    margin: auto;
    line-height: 1;
    margin-top: 10px;
}

/* Estilos para el segundo div (Selección de dias) */

.select-wraper {
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    text-align: left;
    margin-bottom: 2rem;
}

.select-wraper h3 {
    text-align: center;
}

.wraper input:checked {
    background: var(--clr-main);
}

.select-wraper label {
    width: 45%;
    margin-bottom: 13px;
}

.select-wraper input:not([type='checkbox']) {
    width: 30%;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.select-wraper input:not([type='checkbox']):disabled {
    background: #E9ECEF;
}

.select-wraper input:not([type='checkbox']):enabled {
    outline: none;
    background: white;
    width: 30%;
    border: 1.3px solid rgba(0, 0, 0, 0.15);
}

.select-wraper input:not([type='checkbox']):focus {
    box-shadow: 0px 0px 9px -2px #233B4A;
}

.select-wraper .check-wraper {
    padding-left: 5.5rem;
    width: 84%;
    margin: auto;
    line-height: 0.5;
}

.btn-wraper {
    margin: auto;
    width: 53%;
    padding-bottom: 20px;
    margin-top: 3px;
}

.btn-wraper .btn {
    all: unset;
    background: var(--clr-main);
    width: 100%;
    color: white;
    text-align: center;
    min-height: 4ch;
    font-weight: var(--weight-p);
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.center-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* Estilos para el tercer div (Fechas) */

.date-wraper {
    font-size: 1.4rem;
    margin: auto;
    width: 80%;
    background: var(--clr-bg);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.date-wraper h3 {
    margin: 0;
}

.fechas-titulo {
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    font-size: 1.5rem !important;
    color: var(--clr-main) !important;
}

.horas {
    background: var(--clr-main) !important;
}

.txt-info {
    background: white;
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 15px;
    border: 1px solid;
}

.copiar-boton {
    all: unset;
    margin: 2rem 0;
    background: var(--clr-main);
    width: 30%;
    color: white;
    min-height: 4ch;
    font-weight: var(--weight-p);
    border-radius: 3px;
    border: 1.3px solid rgba(0, 0, 0, 0.5);
}

.accordion {
    margin-bottom: 2rem;
    height: 30ch;
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

/* Estilos para pantallas mayores a 768 pixeles */

@media (min-width: 768px) {

    /* Dividiendo los diferentes divs para aprovechar mejor el espacio */

    .wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "info-wraper select-wraper"
            "date-wraper date-wraper";
    }

/* Estilos para el primer div (Información del curso) */

    .info-wraper {
        grid-area: info-wraper;
        min-height: 93.1ch;
        margin-bottom: 0;
        margin-right: 1em;
    }

    .part {
        font-size: 2.3rem;
    }

    .info-wraper .form-label {
        font-size: 2rem;
    }

    .info-wraper .input {
        font-size: 1.5rem;
    }
    
/* Estilos para el segundo div (Selección de días) */

    .select-wraper {
        margin-bottom: 0rem;
        margin-left: 1em;
    }

    .select-wraper h3 {
        margin-bottom: 15px;
    }

    .select-wraper label {
        width: 50%;
    }

    .select-wraper .label {
        font-size: 2rem;
    }

    .select-wraper .input-value {
        font-size: 1.4rem;
    }

    .select-wraper .checkbox {
        font-size: 2rem;
    }

    .select-wraper .select-day-wraper {
        margin-bottom: .4em;
    }

    .select-day-wraper .label {
        margin-top: .5em;
    }

    .select-day-wraper .dia {
        height: 2rem;
    }

    /* Estilos para los botones del segundo div*/

    .btn-wraper {
        width: 65%;
        font-size: 1.6rem;
    }

    .btn-wraper .btn {
        margin-bottom: .85em;
    }

    /* Estilos para el tercer div (Fechas) */

    .date-wraper {
        grid-area: date-wraper;
        width: 84%;
        min-height: 42rem;
        margin-top: 1em;
    }
}

/* Estilos para pantallas mayores a 1024px pixeles */

@media (min-width: 1024px) {

/* Haciendo que los divs se muestren en 3 con flex */

    .wraper {
        display: flex;
    }

    /* Estilos para el primer div (Información del curso) */

    .info-wraper {
        min-height: 80vh;
        margin-left: 3em;
    }

    /* Estilos para el segundo div (Selección de días) */

    .select-wraper {
        min-height: 80vh;
        margin-right: .8em;
    }

    /* Estilos para el tercer div (Fechas) */

    .date-wraper {
        min-height: 80vh;
        margin-left: .8em;
        margin-right: 2.2em;
    }
}